.paragraph {
  color: #c2c2c2;
  font-size: 16px;
  line-height: 1.8em;
  text-transform: none;
  letter-spacing: .075em;
  font-weight: 100;
  font-style: normal;
  max-width: 650px;
  padding: 25px;
}

.lightHr {
  color: #bbb;
  opacity: 0.2;
  margin-top: 30px;
  margin-bottom: 30px;
}

.infoLink {
  color: #c2c2c2;
  text-decoration: none;
  text-transform: none;
}

.title {
  text-align: center;
}
