.subMenu {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;
  margin: .8em 0;
  color: #c2c2c2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
  max-width: 500px;
}

@media (max-width: 600px) {
  .row {
    min-width: 70vw;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
  max-width: 100%;
}

.item {
  font-weight: bold;
  font-size: 17px;
}

.title {
  line-height: 1.8em;
  text-transform: none;
  letter-spacing: .075em;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  color: rgba(255,255,255,.7);
}
