.subMenu {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;
  margin: .8em 0;
  color: #c2c2c2;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70vw;
  max-width: 500px;
  user-select: none;
}

@media (max-width: 600px) {
  .row {
    min-width: 70vw;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-width: 100%;
  color: rgba(255,255,255,.7);
  text-transform: none;
  letter-spacing: .075em;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  user-select: text;
}

.item {
  font-weight: bold;
  font-size: 17px;
}

.title {
  line-height: 1.8em;
  text-transform: none;
  letter-spacing: .075em;
  font-weight: 100;
  font-style: normal;
  text-decoration: none;
  color: rgba(255,255,255,.7);
}

.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation li {
  color: #999797;
  font-size: 17px;

  line-height: 1.5em;
  text-decoration: none;
  letter-spacing: .3em;
  font-weight: 300;
  font-style: normal;

  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  transition: color .2s;
}

.navigation li:hover {
  color: #f2f2f2;
}

.active {
  color: #fff !important;
}
