.locationDiv {
  width: 80vw;
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mapDiv {
  width: 100%;
}

.info {
  font-size: 17px;
  letter-spacing: 0.15em;
  font-weight: lighter;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.addressStyle {
  padding-right: 20px;
  flex: 1 1 300px;
}

.hoursStyle {
  flex: 1 1 300px;
}

.desc {
  font-weight: lighter;
}
