/* Styles shared by the enitre app */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #a39f9f;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  color: #a39f9f;
  font-weight: 100;
  font-size: 100px;
  margin-bottom: 20px;
}

.subHeader {
  color: #a39f9f;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}

.appWrap {
  background-color: #1E1919;
  width: 100vw;
  min-height: calc(100vh - 50px - 39px);
  display: flex;
  margin-top: -50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* come back change after dynamic menu */
@media (max-width: 350px) {
  .appWrap {
    padding-top: 75px;
  }
}
@media (max-width: 245px) {
  .appWrap {
    padding-top: 130px;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #1E1919;
  user-select: none;
}

.footer a {
  color: #999797;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;

  line-height: 1.5em;
  text-decoration: none;
  letter-spacing: .3em;
  font-weight: 300;
  font-style: normal;

  list-style-type: none;
}

.footer a:hover {
  color: #e7bd74;
}

.centerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
