.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #4a90e2;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  height: 50px;
  position: relative;
  z-index: 3;
  user-select: none;
}

@media (min-width: 570px) {
  .container ul {
    flex-direction: column;
    justify-content: center;
  }
}

.navContainer {
  max-width: 700px;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px;
}

.navContainer li {
  font-size: 11px;

  line-height: 1.5em;
  text-decoration: none;
  letter-spacing: .3em;
  font-weight: 300;
  font-style: normal;

  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.link {
  color: #999797;
  text-decoration: none;
  transition: color .8s;
}

.link:hover {
  color: #e7bd74;
}

.active {
  color: #EBEAEA;
  transition: color .1s;
}
