.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #4a90e2;
  font-size: 13px;
  font-family: 'Encode Sans Expanded', sans-serif;
  /*font-family: 'Mukta', sans-serif;  height: 50px;*/
  position: relative;
  z-index: 3;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 700px;
  margin: 0px auto;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.navContainer li {
  opacity: .9;
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
}

.link {
  color: #999797;
  text-decoration: none;
}

.link:hover {
  color: #e7bd74;
}

.active {
  color: #EBEAEA;
}
